@font-face {
    font-family: 'MADE Mountain';
    src: url('MADEMountain-Regular.woff2') format('woff2'),
        url('MADEMountain-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

